.git
bucket/
target/
requirements*.txt

.code-workspace
.vscode
.vim
*.log
pyrightconfig.json

**/.ipynb_checkpoints
**/.mypy_cache
**/__pycache__
**/.pytest_cache
htmlcov
site
.coverage
coverage.xml
env3.*
env
.env
.venv
venv
.idea
a.out
.tags
.tox
.nox
.cache

*~
.*.sw?

*.dylib
*.DSYM
*.d
*.pyc
*.pyo
.*.swp
.*.swo
.*.un~
*.tmp
*.o
*.o-*
*.os
*.os-*
*.so
*.a
*.clb
*.class
*.pyxbldc
*.vcd

.Python
build/
docs_build
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


.DS_Store
.AppleDouble
.LSOverride
__MACOSX

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini
$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

.fuse_hidden*
.directory
.Trash-*
.nfs*
