[flake8]
ignore = E203, E302, E266, E501, W503, W504, F403, F401, E402, E731, E741, E742, E743, F841, E231, I001, W292, E221
exclude = .git,.venv,__pycache__,docs,old,build,dist,.tox,.nox,*.pyc,.eggs,*.egg-info,*.egg,node_modules,.pytest_cache,.ipynb_checkpoints,.cache,__init__.py
max-line-length = 120
max-complexity = 100
inline-quotes = single
multiline-quotes = double
select = BLK,B,C,E,F,W,S,T4,B9,A,I
per-file-ignores =
    tests/*:S101
# pep8-naming (default values - list)
# ignore-names = setUp,tearDown,setUpClass,tearDownClass,setUpTestData,failureException,longMessage,maxDiff
# classmethod-decorators = classmethod
# staticmethod-decorators = staticmethod
